@tailwind base;
@tailwind components;
@tailwind utilities;

.tasks::-webkit-scrollbar{
    display: none;
}.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.scroll-content {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

/* Keyframe to create seamless, continuous scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.feature-card {
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-card img {
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover img {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CourseCard.css */
.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-title:hover {
  color: #6366f1; /* Indigo color on hover */
}
